* { box-sizing: border-box; }

.sizing-box {
    height: 50px;
    width: 80px;
}

.signal-bars {
    display: inline-block;
}

.signal-bars .bar {
    width: 8%;
    margin-left: 2%;
    min-height: 20%;
    display: inline-block;
}
.signal-bars .bar.first-bar  { height: 10%; }
.signal-bars .bar.second-bar { height: 20%; }
.signal-bars .bar.third-bar  { height: 30%; }
.signal-bars .bar.fourth-bar { height: 40%; }
.signal-bars .bar.fifth-bar  { height: 50%; }
.signal-bars .bar.sixth-bar  { height: 60%; }
.signal-bars .bar.seventh-bar  { height: 70%; }
.signal-bars .bar.eighth-bar  { height: 80%; }
.signal-bars .bar.ninth-bar  { height: 90%; }
.signal-bars .bar.tenth-bar  { height: 99%; }

.good .bar {
    background-color: #16a085;
    border: thin solid darken(#16a085, 7%);
}
.bad .bar {
    background-color: #e74c3c;
    border: thin solid darken(#e74c3c, 20%);
}
.ok .bar {
    background-color: #f1c40f;
    border: thin solid darken(#f1c40f, 7%);
}

.eight-bars .bar.tenth-bar,
.eight-bars .bar.ninth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {       background-color: #c2c2c2;
    border: thin solid #c2c2c2;
}
